 <!-- Loading Header modules from snippets -->
 <%- include('snippets/header') %>

<main class="max-w-screen-xl px-16 mx-auto">
  <div class="">
    <h1 class="text-2xl font-semibold my-8">AI Content Generator</h1>
    <form action="/aiapp" method="POST" class="p-8 bg-white shadow-md rounded">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <textarea name="prompt" rows="4" class="resize-none p-2 mb-4 border rounded border border-gray-200 focus: border-gray-200  w-full" placeholder="Enter your prompt..."></textarea>
        <button type="submit" class=" p-2 mt-2 bg-blue-500 text-white rounded">Generate Result</button>
    </form>
  </div>
  <div>
    <% if (content && content !== "") { %>
      <div class="bg-white p-6 my-4 shadow-md rounded-md">
        <h3 class="pb-3 font-semibold text-lg">Result</h3>
        <div>
          <%= content %>
        </div>
      </div>
      <div class="p-10"></div> 
    <% } %>
  </div>
</main>
      
 <!-- Loading Footer modules from snippets -->
 <%- include('snippets/footer') %>
   
