<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Application</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
 <!-- Navbar -->
 <nav class="bg-purple-600 p-4 shadow-md">
    <div class="max-w-screen-xl px-16 mx-auto flex justify-between items-center">
      <h1 class="text-white text-2xl font-semibold"><a href="/" class="text-white">Core App</a></h1>
      <div class="flex space-x-4">  
        <a href="/" class="text-white text-sm  bg-purple-400 duration-300 ease-in-out hover:bg-orange-500 px-4 py-2 rounded">Home</a>
        <a href="/aiapp" class="text-white text-sm  bg-purple-400 duration-300 ease-in-out hover:bg-orange-500 px-4 py-2 rounded">AI App</a>
        <a href="/profile" class="text-white text-sm  bg-purple-400 duration-300 ease-in-out hover:bg-orange-500 px-4 py-2 rounded">Profile</a>
        <% if (user && user.role !== 'user') { %>  
          <a href="/admin" class="text-white text-sm  bg-purple-400 duration-300 ease-in-out hover:bg-orange-500 px-4 py-2 rounded">Admin</a>
        <% } %>
        <a href="/logout" class="text-white text-sm  bg-purple-400 duration-300 ease-in-out hover:bg-orange-500 px-4 py-2 rounded">Logout</a>
      </div>
    </div>
  </nav>