<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Application</title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        background-image: url('https://i.ibb.co/JFzfL4HK/pexels-ifreestock-577558.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
      }
    </style>
</head>

  <!-- Navbar -->
  <nav class="bg-white shadow-md py-4">
    <div class="max-w-screen-xl mx-auto px-6 flex justify-between items-center">
      <h1 class="text-3xl font-bold text-purple-600"><a href="/" class="hover:text-orange-500 duration-300">Task Master</a></h1>
      <div class="flex space-x-6">  
        <a href="/" class="text-white bg-purple-600 hover:bg-orange-500 duration-300 px-4 py-2 rounded text-sm font-semibold shadow-md">Home</a>
        <a href="/profile" class="text-white bg-purple-600 hover:bg-orange-500 duration-300 px-4 py-2 rounded text-sm font-semibold shadow-md">Profile</a>
        <% if (user && user.role !== 'user') { %>  
          <a href="/admin" class="text-white bg-purple-600 hover:bg-orange-500 duration-300 px-4 py-2 rounded text-sm font-semibold shadow-md">Admin</a>
        <% } %>
        <a href="/logout" class="text-white bg-purple-600 hover:bg-orange-500 duration-300 px-4 py-2 rounded text-sm font-semibold shadow-md">Logout</a>
      </div>
    </div>
  </nav>

 